.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}
.note
{
  font-size: 18px;
  color: black;
}
  #song
  {
  	font-size: 23px;
  	margin: 15px;
  }
    canvas 
  {
    margin-top: 100px;
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px grey;
  }